Repository Kharacternyk/paper-tactics: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-lax, mypy

isort:
  name: isort
  language: system
  entry: isort

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

mypy-lax:
  name: mypy-lax
  language: system
  entry: mypy

mypy:
  name: mypy
  language: system
  entry: mypy --strict

Refactor visibility of non-trench walls.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Avoid JSON serialization within an entity.
  paper_tactics/adapters/aws_api_gateway_player_notifier.py
  paper_tactics/adapters/websockets_player_notifier.py
  paper_tactics/entities/game_view.py
Due: isort, black, flake8, mypy

Remove a test for JSON serialization.
  tests/entities/test_game_view.py
Due: isort, black, flake8, mypy-lax

Improve the bot.
  paper_tactics/entities/game.py
  paper_tactics/entities/game_bot.py
  paper_tactics/entities/game_preferences.py
  paper_tactics/entities/game_view.py
Due: isort, black, flake8, mypy

Change bot parameters.
  paper_tactics/entities/game_bot.py
Due: isort, black, flake8, mypy

Add the double base preference.
  paper_tactics/adapters/dynamodb_game_repository.py
  paper_tactics/adapters/dynamodb_match_request_queue.py
  paper_tactics/entities/game.py
  paper_tactics/entities/game_preferences.py
  paper_tactics/use_cases/create_game.py
  tests/entities/strategies.py
Due: isort, black, flake8, mypy-lax, mypy

Accept view data in snake_case.
  app.py
  aws/lambda-handlers/create_game.py
Due: isort, black, flake8, mypy

Refactor the notification mechanism.
  paper_tactics/adapters/aws_api_gateway_player_notifier.py
  paper_tactics/adapters/websockets_player_notifier.py
  paper_tactics/ports/player_notifier.py
  paper_tactics/use_cases/concede.py
  paper_tactics/use_cases/create_game.py
  paper_tactics/use_cases/make_turn.py
  paper_tactics/use_cases/notify_player.py
  tests/entities/strategies.py
  tests/use_cases/mocked_ports.py
  tests/use_cases/test_concede.py
  tests/use_cases/test_create_game.py
  tests/use_cases/test_make_turn.py
Due: isort, black, flake8, mypy-lax, mypy

Add some more info to the README.
  README.md
Due: none

Update the Nix dependencies.
  flake.lock
  flake.nix
Due: none

Remove tracing.
  aws/lambda-handlers/make_turn.py
Due: isort, black, flake8, mypy

Remove some unused imports.
  paper_tactics/adapters/dynamodb_match_request_queue.py
Due: isort, black, flake8, mypy

Remove tracing from the template as well.
  aws/template.yaml
Due: none

Ignore the write-ahead log of testmon.
  .gitignore
Due: none

Add the game code field.
  paper_tactics/entities/game_preferences.py
Due: isort, black, flake8, mypy

Retrieve game codes from the queue properly.
  paper_tactics/adapters/dynamodb_match_request_queue.py
Due: isort, black, flake8, mypy

Retrieve game codes from the repository properly.
  paper_tactics/adapters/dynamodb_game_repository.py
Due: isort, black, flake8, mypy

Update flake.lock.
  flake.lock
Due: none

Fix a bug in the neutral unit logic.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Remove the outdated test coverage badges.
  README.md
Due: none

Optimize the case of zero trenches.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Add a link to the frontend.
  README.md
Due: none

Set up uv.
  pyproject.toml
  uv.lock
Due: none

Add an option for random y for bases
  paper_tactics/entities/game.py
  paper_tactics/entities/game_preferences.py
Due: isort, black, flake8, mypy

Start work on a better bot
  app.py
  paper_tactics/adapters/dynamodb_match_request_queue.py
  paper_tactics/adapters/in_memory_match_request_queue.py
  paper_tactics/entities/game.py
  paper_tactics/entities/game_bot.py
  paper_tactics/entities/match_request.py
  paper_tactics/ports/match_request_queue.py
  paper_tactics/use_cases/create_game.py
Due: isort, black, flake8, mypy

Add some line feeds.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Fill in opponent's reachable cells in the view.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Finish the new bot
  paper_tactics/entities/game.py
  paper_tactics/entities/game_bot.py
Due: isort, black, flake8, mypy

Fix a lambda handler.
  aws/lambda-handlers/create_game.py
Due: isort, black, flake8, mypy

Fix the DynamoDB queue.
  paper_tactics/adapters/dynamodb_match_request_queue.py
Due: isort, black, flake8, mypy

Simplify the code a bit.
  paper_tactics/adapters/dynamodb_match_request_queue.py
Due: isort, black, flake8, mypy

Fix matchmaking for recurrent players.
  paper_tactics/use_cases/create_game.py
Due: isort, black, flake8, mypy

Add deathmatch
  paper_tactics/entities/game.py
  paper_tactics/entities/game_preferences.py
Due: isort, black, flake8, mypy

Add heartbeat.
  paper_tactics/adapters/aws_api_gateway_player_notifier.py
  paper_tactics/adapters/websockets_player_notifier.py
  paper_tactics/ports/player_notifier.py
  paper_tactics/use_cases/concede.py
  pyproject.toml
  uv.lock
Due: isort, black, flake8, mypy

Adjust a type hint for an older Python.
  paper_tactics/use_cases/concede.py
Due: isort, black, flake8, mypy

Update the AWS Lambda runtime.
  aws/template.yaml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy-lax: any of: ^tests/ and \.py$
  mypy: any of: \.py$, but not: ^tests/
