Repository Kharacternyk/paper-tactics: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-lax, mypy

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort
        types: [python]

      - id: black
        name: black
        language: system
        entry: black
        types: [python]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]

      - id: mypy-lax
        name: mypy-lax
        language: system
        entry: mypy
        files: &lax-files
          ^tests/
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: mypy --strict
        exclude: *lax-files
        types: [python]

Add code coverage data to the readme.
  README.md
Due: none

Fix the Codecov graph in the readme.
  README.md
Due: none

Add a line feed between the coverage graphics.
  README.md
Due: none

Fix the games() strategy.
  tests/entities/strategies.py
Due: isort, black, flake8, mypy-lax

Add some assertions to the Game class.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Deal with duplicate player IDs without filtering.
  tests/entities/strategies.py
Due: isort, black, flake8, mypy-lax

Fix some tests for the make-turn use case.
  tests/use_cases/test_make_turn.py
Due: isort, black, flake8, mypy-lax

Drop unnecessary test case restrictions.
  tests/use_cases/test_create_game.py
Due: isort, black, flake8, mypy-lax

Drop pytest-cov.
  .github/workflows/CI.yaml
  poetry.lock
  pyproject.toml
Due: none

Switch to the Codecov grid graph.
  README.md
Due: none

Mention CD in the GitHub workflow.
  .github/workflows/CI-CD.yaml
Due: none

Fix the ID of the CI/CD job.
  .github/workflows/CI-CD.yaml
Due: none

Add a section on the architecture to the readme.
  README.md
  docs/arch.gv
  docs/arch.svg
Due: none

Drop all max_examples restrictions from the tests.
  tests/adapters/test_game_repositories.py
  tests/adapters/test_match_request_queues.py
Due: isort, black, flake8, mypy-lax

Drop aws-sam-cli from the development dependencies.
  .github/workflows/CI-CD.yaml
  poetry.lock
  pyproject.toml
Due: none

Upgrade black.
  poetry.lock
  pyproject.toml
Due: none

Reformat a file with the new black.
  tests/entities/strategies.py
Due: isort, black, flake8, mypy-lax

Reformat another file with the new black.
  tests/adapters/strategies.py
Due: isort, black, flake8, mypy-lax

Avoid hypothesis.assume in DynamoDB strategies.
  tests/adapters/strategies.py
Due: isort, black, flake8, mypy-lax

Drop the direnv setup.
  .envrc
  flake.lock
  flake.nix
Due: none

Switch the tooling to Nix.
  .flake8
  .github/workflows/CD.yaml
  .github/workflows/CI-CD.yaml
  .pre-commit-config.yaml
  conftest.py
  flake.lock
  flake.nix
  poetry.lock
  pyproject.toml
Due: isort, black, flake8, mypy

Setup Python 3.9 in CD.
  .github/workflows/CD.yaml
Due: none

Format aws/template.yaml with prettify.
  aws/template.yaml
Due: none

Setup moto and re-enable tests that use it.
  flake.nix
  pyproject.toml
  tests/adapters/strategies.py
  tests/adapters/test_game_repositories.py
  tests/adapters/test_match_request_queues.py
Due: isort, black, flake8, mypy-lax

Add support for trenches.
  paper_tactics/adapters/dynamodb_game_repository.py
  paper_tactics/adapters/dynamodb_match_request_queue.py
  paper_tactics/entities/game.py
  paper_tactics/entities/game_preferences.py
  paper_tactics/entities/game_view.py
Due: isort, black, flake8, mypy

Fix DynamoDB choking on floats.
  paper_tactics/adapters/dynamodb_game_repository.py
Due: isort, black, flake8, mypy

Fix more production errors.
  paper_tactics/adapters/dynamodb_game_repository.py
  paper_tactics/entities/game_preferences.py
Due: isort, black, flake8, mypy

Avoid floats in serializable entities.
  paper_tactics/adapters/dynamodb_game_repository.py
  paper_tactics/adapters/dynamodb_match_request_queue.py
  paper_tactics/entities/game.py
  paper_tactics/entities/game_preferences.py
Due: isort, black, flake8, mypy

Fix trenches deserialization from DynamoDB.
  paper_tactics/adapters/dynamodb_game_repository.py
  tests/entities/strategies.py
Due: isort, black, flake8, mypy-lax, mypy

Fix visibility of trench walls.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Remove an unused import.
  paper_tactics/adapters/dynamodb_game_repository.py
Due: isort, black, flake8, mypy

Reveal trenches at the end of the game.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Rebuild opponent's reachable cells when needed.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Reveal symmetric terrain.
  paper_tactics/entities/game.py
  paper_tactics/entities/player.py
Due: isort, black, flake8, mypy

Fix serialization of new visibility properties.
  paper_tactics/adapters/dynamodb_game_repository.py
Due: isort, black, flake8, mypy

Fix the order of game initialization.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Fix visibility of stray walls.
  paper_tactics/entities/game.py
Due: isort, black, flake8, mypy

Fix visibility tests.
  tests/entities/test_game.py
Due: isort, black, flake8, mypy-lax

Extract some DynamoDB boilerplate.
  paper_tactics/adapters/dynamodb_game_repository.py
  paper_tactics/adapters/dynamodb_match_request_queue.py
  paper_tactics/adapters/dynamodb_storage.py
Due: isort, black, flake8, mypy

Teach bot to favour trenches.
  paper_tactics/entities/game_bot.py
Due: isort, black, flake8, mypy
